main.contenu_moitie_moitie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

}

main.contenu_moitie_moitie > section.moitie {
    padding: 0;
    flex-basis: 48%;
    flex-grow: 1;
}

main .card {
    display: flex;
    background-color: var(--lightest-background);
    flex-direction: column;
    min-height: 600px;
}

main .card img{
    width: 100%;
    aspect-ratio: 3/2;
}

main .card .card__title{
    padding: 20px;
}

main .card p,  main .card .button {
    padding: 0px 20px 15px;
}
